body {
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  margin-top: 1em;
  font-size: 3em;
}


p1,p4 {
  color: #ffffff;
  font-size: 3em;
  text-decoration: underline;
  text-shadow: black 1px 3px;
  font-family: 'love ya like a sister', serif ;
}

ul {
  display: flex;
  flex-flow:column;
  align-items: flex-start;
}
li, label {
  list-style: none;
  color: rgb(123, 219, 237);
  font-size: 25px;
  text-shadow: black 1px 4px;
  font-family: 'annie use your telescope', serif;
  margin-left: 4px;
}
button {
  color: grey;
  font-size: 20px;
  background-color: rgba(255, 255, 255, .9);
  border: none;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: 4px;
}

.background {
  background-image: url('../img/skys.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
}
.sections {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.you-can {
  color: rgb(123, 219, 237);
  font-size: 20px;
  text-shadow: black 1px 4px;
  font-family: 'annie use your telescope', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: flex-start; */
}
input {
  border-radius: 3px;
  color: black;
  font-size: 20px;
  color: rgb(123, 219, 237);
  font-family: 'annie use your telescope', serif;
}


.btn-primary{
  color: grey;
  font-size: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, .9);
  border: none;
  border-radius: 3px;
  margin-top: 2px;
  margin-left: 4px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: rgba(123, 219, 237, .7);
}

.you-will {
  background-color: rgba(128, 133, 194, .4);
  height: 30em;
  width: 31em;
  text-align: center;
}


.quote {
  /* background-color: rgba(161, 161, 160, .4); */
  height: 10em;
  width: 5em;
  text-align: center;
  text-shadow: black 1px 4px;
  color: rgb(123, 219, 237);
  font-size: 45px;
  font-family: 'fredericka the great', serif;
}
p2{
  color: #ffffff;
}

.you-did{
  background-color: rgba(123, 219, 237, .4);
  height: 30em;
  width: 31em;
  text-align: center;
}

/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
